button,
input {
  font-size: 1em;
}
input:disabled {
  cursor: not-allowed;
}
.message {
  color: #fff;
  font-family: Verdana, sans-Serif;
  font-size: 0.8em;
  cursor: pointer;
}
.message.alert {
  background-color: #dd5858;
  border: 1px solid rgba(147,128,108,0.25);
}
.message.notice {
  background-color: #3d9970;
}
.message:not(.hidden) {
  padding: 0.75em;
  margin-bottom: 0.8em;
  border-radius: 2px;
}
.form-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.form-element {
  display: flex;
  margin-bottom: 1em;
  flex: 1;
  font-family: Verdana, sans-Serif;
}
.form-element:nth-of-type(2n) {
  padding-left: 1.4em;
}
.form-element input {
  flex: 1;
  border: 1px solid rgba(147,128,108,0.25);
  padding: 0.5em 0.75em;
  margin: 0;
  border-left: 0;
}
.form-element label {
  font-size: 0.8em;
}
.form-element input[type="checkbox"] {
  flex: none;
}
.form-element input[type="checkbox"].double-button {
  border-right: 0;
}
.form-element aside {
  border: 1px solid rgba(147,128,108,0.25);
  padding: 0.5em 0.75em;
  color: #666;
  background-color: rgba(147,128,108,0.1);
  border-radius: 2px 0 0 2px;
}
.form-element aside.button {
  cursor: pointer;
}
button {
  border: 1px solid rgba(147,128,108,0.25);
  padding: 0.5em 0.75em;
  color: #666;
  background-color: rgba(147,128,108,0.1);
  border-radius: 2px 0 0 2px;
}
