section#irc-proxy
  h3 IRC proxy

  form(action="/irc-config" method="post" id="irc-config")

    div.message.alert.hidden

    section.form-row
      section.form-element
        aside Nick
        input.double-button(type="text" name="nick" value="#{proxy.nick}" disabled)
        aside.lock
          i.fa.fa-lock

    if proxy.servers
      h4 Servers
      each server in proxy.servers
        section.form-row
          section.form-element
            input.double-button(type="text" name="server" value="#{server.url}" disabled)
            aside.lock.button
              i.fa.fa-lock
            aside.delete.button
              i.fa.fa-times

    else
      section.form-row
        section.form-element
          aside Server
          input.double-button(type="text" name="server" value="" disabled)
          aside.lock
            i.fa.fa-lock
