form(action="/irc-config" method="post" id="irc-config")

  div.alert.hidden

  section.form-row
    section.form-element
      aside
        i.fa.fa-user
      input.double-button(type="text" name="nick" placeholder="Your cool IRC nick")
      aside.button.confirm Confirm
