form

  section.form-element
    aside
      i.fa.fa-envelope
    input(type="text", name="username", placeholder="derp@new-derp.com")

  section.form-element
    aside
      i.fa.fa-unlock-alt
    input(type="password", name="password", placeholder="Think hard")

  section.form-element
    aside
      i.fa.fa-lock
    input(type="password", name="password_confirmation", placeholder="Type it again")
    aside.button
      a#signup Sign up

  a.cancel
    i.fa.fa-undo.fa-2x
