form#signup-form
  section.form-element
    aside
      i.fa.fa-envelope
    input(type="text", name="email", placeholder="derp@new-derp.com")

  section.form-element
    aside
      i.fa.fa-lock
    input(type="password", name="password")
    aside
      a#signup Sign up

  a.cancel
    i.fa.fa-undo.fa-2x
