button, input
  font-size: 1em

input:disabled
  cursor: not-allowed

.alert
  background-color: #dd5858
  color: #fff
  font-family: Verdana, sans-Serif
  font-size: .8em

  &:not(.hidden)
    padding: .75em
    margin-bottom: 0.8em
    border: 1px solid rgba(147,128,108,0.25)
    border-radius: 2px

.form-row
  display: flex

.form-element
  display: flex
  margin-bottom: 1em
  flex: 1
  font-family: Verdana, sans-Serif

  &:nth-of-type(2n)
    padding-left: 1.4em

  input
    flex: 1
    border: 1px solid rgba(147,128,108,.25)
    padding: .5em .75em
    margin: 0
    border-left: 0

    &.double-button
      border-right:0


  aside
    border: 1px solid rgba(147, 128, 108, .25)
    padding: .5em .75em
    color: #666
    background-color: rgba(147,128,108,.1)
    border-radius: 2px 0 0 2px

    &.button
      cursor: pointer

button
  border: 1px solid rgba(147,128,108,0.25);
  padding: 0.5em 0.75em;
  color: #666;
  background-color: rgba(147,128,108,0.1);
  border-radius: 2px 0 0 2px;
