@import 'nib'
@import 'reset'
@import 'header'
@import 'form'
@import 'irc'

// fonts
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700)

// global variables
$red = #dd5858

.content
  width: 70%
  display: block
  background: #fff
  margin: 5% auto
  padding: 1% 3%
  box-shadow: 1px 1px 10px #ddd
  box-sizing: border-box

.logo-paragraph
  width: 40px
  vertical-align: middle
  margin-left: 1.5em

#hoverBox
  padding: 1em
  color: #fff
  font-size: .5em
  letter-spacing: .1em
  position: absolute
  display: none

.message
  color: #fff
  font-family: Verdana, sans-Serif
  font-size: .8em
  cursor: pointer

  &.alert
    background-color: #dd5858
    border: 1px solid rgba(147,128,108,0.25)

  &.notice
    background-color: #3d9970

  &:not(.hidden)
    padding: .75em
    margin-bottom: 0.8em
    border-radius: 2px

#user-actions
  perspective: 1000
  display: flex
  flex-wrap: wrap
  margin: 50px auto
  width: 70%

  .flipped
    transform: rotateY(-180deg)

    .back
      transform: rotateY(-180deg)

  .flip
    flex: 1
    box-shadow: 1px 1px 10px #ddd
    padding: 5em 1em
    height: 100%
    transform-style: preserve-3d
    transition: .8s
    height: 250px

    div
      transition: .4s

.front
  flex: 1
  display: flex
  flex-wrap: wrap

  .cell
    padding-left: 1em
    flex: 1
    text-align: center


// Media queries
@media(max-width: 800px)
  .content
    width: 100%
    min-width:500px;

  .logo-paragraph
    display: none
