$red = #dd5858

.form-row
  display: flex
  justify-content: flex-start
  align-items: flex-start

.form-element
  display: flex
  margin-bottom: 1em
  flex: 1
  font-family: Verdana, sans-Serif

  input
    flex: 1
    border: 1px solid rgba(147,128,108,.25)
    padding: .5em .75em
    margin: 0

  label
    font-size: .8em

  input[type="checkbox"]
    flex: none

    &.double-button
      border-right:0

  aside
    border: 1px solid rgba(147, 128, 108, .25)
    padding: .5em .75em
    color: #666
    background-color: rgba(147,128,108,.1)
    border-radius: 2px 0 0 2px
    transition: background .3s

    &.button
      cursor: pointer

    &.delete:hover
      background: $red
      color: #fff
