body, html
  margin:0
  padding:0

body
  background-color: whiteSmoke
  font-family: Georgia, serif
  color: #333

div
  box-sizing: border-box

section
  box-sizing: border-box

h1,h2,h3
  font-family: verdana, sans-serif

h1
  font-size: 3em

h2
  font-size: 2.5em

p
  line-height: 1.5

a
  color: #333

.hidden
  opacity: 0
  box-sizing: border-box
  margin: 0
  padding: 0
  pointer-events: none

button, input
  font-size: 1em

input:disabled
  cursor: not-allowed

button
  border: 1px solid rgba(147,128,108,0.25);
  padding: 0.5em 0.75em;
  color: #666;
  background-color: rgba(147,128,108,0.1);
  border-radius: 2px 0 0 2px;
