form#login-form.hidden
  section.form-element
    aside
      i.fa.fa-envelope
    input(type="text", name="username", placeholder="derp@derp.com")

  section.form-element
    aside
      i.fa.fa-lock
    input(type="password", name="password")
    aside
      a#login Log in
