extends layout/layout

block content
  h2 Good on you!

  if message.length > 0
    div.message.notice #{message}

  if proxy
    p Cool, you have a proxy - these are the stored attributes:
    include partials/_irc-proxy
  else
    p Hey dude, you should totally get an IRC proxy
    include partials/_irc-form
