extends layout/layout

block content
  h2 Good on you!

  p You have totally logged in, <span class="user">#{user.email}</span>.

  if proxy
    p Cool, you have a proxy - these are the stored attributes:
    include partials/_irc-proxy
  else
    p Hey dude, you should totally get an IRC proxy
    include partials/_irc-form
