extends layout/layout

block content
  h1 Welcome to BRC

  p Please, do not be intimidated by the bear, he's a real friendly guy.
    <img class="logo-paragraph" src="/assets/bear.png"/>

  include partials/_login
