doctype html
html
  head
    title BRC
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    != css('application')
    != js('client')
  body
    block content
