extends layout

block content
  h2 So - signing up, huh?

  form(action="/signup" method="post")

      if message.length > 0
        div.alert #{message}

      label Email
      input(type="text" name="email" placeholder="derp@derp.com")

      label Password
      input(type="password" name="password")

      button(type="submit") Sign up

  p Or, you know, maybe you should <a href="/login">log in</a>?

  p No shame in going <a href="/">home</a> either.
