script(id='appTmp', type='text/html')
  #home

script(id='homeTmp', type='text/html')
  h1 Welcome to BRC

  section#user-actions
    .flip
      .front
        .cell
          .login
            i.fa.fa-unlock-alt.fa-5x
        .cell
          .signup
            i.fa.fa-sign-out.fa-5x
      .back.hidden.unflex

script(id='loginTmp', type='text/html')
  include partials/_login

script(id='signupTmp', type='text/html')
  include partials/_signup
